.git
.gitignore
target/
Dockerfile
.dockerignore

packages/*
.github
.gitlab
app/*
docs/*
build/*
.gitlab-ci.yml
CONTRIBUTING.md
zoi.yaml
GEMINI.md

CODE_OF_CONDUCT.md
LICENSE
Makefile
README.md
RELEASE.md
ROADMAP.md
SECURITY.md
.env.example
