POSTHOG_API_KEY="phc_abcdefg"
POSTHOG_API_HOST="https://eu.i.posthog.com"
ZOI_DEFAULT_REGISTRY="https://gitlab.com/Zillowe/Zillwen/Zusty/Zoidberg.git"
ZOI_AUTHORITIES_KEY_1="842293159C4B03357C8328D3A75793A3E674252E"
ZOI_AUTHORITIES_KEY_2=""

ZOI_ABOUT_PACKAGER_AUTHOR="Author"
ZOI_ABOUT_PACKAGER_EMAIL="email@example.com"
ZOI_ABOUT_PACKAGER_HOMEPAGE="https://example.com"

# Note: PGP keys and Global Hooks are embedded from the following directories:
# - src/pkg/pgp/builtin/*.asc
# - src/pkg/hooks/builtin/*.hook.yaml
