# etc
etc
.zoi/
dist/
.gct/
.agents/
skills-lock.json

# binaries
scripts/compiled
scripts/archived
scripts/release
scripts/release-all

# config
config.mk
config.just

# env
.env

# javascript
packages/js/node_modules
packages/js/dist

# Added by cargo
/target
