etc
test
scripts/compiled
scripts/archived
scripts/release
scripts/release-all
config.mk
.env
packages/js/node_modules
packages/js/dist
dist/*

# Added by GCT
gct.yaml
/.gct/

# Added by cargo
/target
