etc
test
build/compiled
build/archived
build/release
build/release-all
config.mk
version/node_modules
.env
packages/aur/zoi-bin/zoi-*
package/aur/zoi-bin/LICENSE
packages/aur/zoi/zoi-*
package/aur/zoi/LICENSE

# Added by GCT
gct.yaml
/.gct/

# Added by cargo
/target
