# Code Owners
# This file defines individuals or teams that are responsible for code in the repository.
# For more info: https://docs.gitlab.com/user/project/codeowners/

* @zillowe/teams/rust @zillowe/zillwen/zusty
packages/ @zillowe/teams/packaging
